.page{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-areas: 
      "head"
      "nav"
      "subnav"
      "body"
      "footer";
  }

  .page .header {
    grid-area: head;
    padding: 1em 1em;
    background: gold;
  }
  
  .page .header h1 {
    font-size: 200%;
  }

  .page .header h1 a {
    color: black;
    text-decoration: none;
  }
  
  .page .header h1 p {
    padding: 0.5em 0 0 0;
    font-size: 2.0vh;
  }
  
  .page .navigation {
    grid-area: nav;
    background:black;
    padding: 1em 1em;
  }
  
  .page .navigation a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 70%;
    font-weight: bold;
  }
  
  .page .subnavigation {
    grid-area: subnav;
    display: none;
    background:orange;
  }
  
  .page .body {
    grid-area: body;
  }

  .page .body .containerGood {
    margin: 1em 0;
    display: grid;
    grid-template-areas: 
    "goodimg gooddesc";
    grid-template-columns: 450px 1fr;
    gap: 10px;
  }

  .page .body .containerGood .goodImg {
    grid-area: goodimg;
  }

  .page .body .containerGood .goodImg img {
    display: block;
  }

  .page .body .containerGood .goodDesc {
    grid-area: gooddesc;
  }

  .page .body .containerGood .goodDesc h2 {
    font-size: 200%;
    line-height: 1.1;
  }

  .page .body .containerGood .goodDesc p {
    margin: 1em 0;
    font-size: 115%;
    line-height: 1.5;
  }

  .page .body .containerGood .goodDesc .costId {
    margin: 1em 0;
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid green;
    border-radius: 4px;
    background: gold;
    font-weight: bold;
  }
  .page .body .containerGood .goodDesc .costId::after {
    content: "\20BD";
  }

  .page .body .containerGood .goodDesc .listDeliv {
    
  }

  .page .body .containerGood .goodDesc .listDeliv li {
    margin: 10px 20px;
    list-style-type: disc;
  }


  @import '/styles/res/429.scss';
  @import '/styles/res/415.scss';
  @import '/styles/res/394.scss';
  @import '/styles/res/391.scss';
  @import '/styles/res/386.scss';
  @import '/styles/res/384.scss';
  @import '/styles/res/376.scss';
  @import '/styles/res/361.scss';
  @import '/styles/res/321.scss';