.page{
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas: 
    "head"
    "nav"
    "body"
    "footer";
}

.page .header {
  grid-area: head;
  padding: 10px;
  background: gold;
}

.page .header h1 {
  font-size: 200%;
}

.page .header h1 p {
  font-size: 2.5vh;
}

.page .navigation {
  grid-area: nav;
  background:green;
}

.page .body {
  grid-area: body;
  background: gold;
}

.page .footer {
  grid-area: footer;
  background: gray;
}

.page .body .containerGoods {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background: red;
  gap:0px;
}

.page .body .containerGoods .good {
  margin: 0 10px;
}

@import '/styles/res/429.scss';
@import '/styles/res/415.scss';

