.container {
  
}




.containerShow {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 362px auto;
}

.containerShow div{
  background: rgb(245, 215, 19);
}

.containerShow img {
  display: block;
  width: 100%;
  height: auto;
}

.containerShow .descAnt h1 {
  padding: 0 20px;
  font-weight: normal;
  color: black;
}

.containerShow .descAnt h2 {
  padding: 0 20px;
  font-size: 100%;
  font-weight: normal;
  color: black;
}

.containerShow .descAnt {
  height: 100%;
}

.containerShow .descAnt p {
  padding: 0 20px;
  color: black;
}

.containerShow .descAnt .price {
  font-size: 110%;
  color: green;
}

.containerShow .descAnt ul li {
  color: black;
}


.footer {
  
}

@import '/styles/res/429.scss';
@import '/styles/res/415.scss';

